.navBar{
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    background-image: url("../../assets/Landing Background.svg");
    background-position: center;
    background-size: cover;
    padding: 0.5em;

    max-height: 7vh;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

    img{
        
      
        max-width: 30%;
    }

    .left{
        width: 20%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2.5rem;
    }
    .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        height: 100%;
        img{
            min-width: 90%;
        }
    }
}

.navBar, .left{
    display: flex;
}