.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    max-height: 7vh;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

    img{
        max-height: 50%;
    }

    .left{
        display:flex;
        align-items: center;
        font-size: 2.5rem;
    }
}

.navBar, .left{
    display: flex;
}