.uniMartTextLogo{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 515;
    font-family: "niveau-grotesk", sans-serif;


    .uni {
        background: linear-gradient(
            90deg,
            #128ab1 30%,
            #53f895 50%,
            #b9fda1 60%,
            #f0ffa8 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
