.listings.Container {
    h1{
        font-weight: 100;
        padding-left: 2.6vw;
    }
 
    position: sticky;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: space-evenly;
    justify-content: start;
    
    background-color: white;
    left: 20vw;
    
    padding-bottom: 5vh;
    padding-top: 9vh;

    box-sizing: border-box;
    height: 100vh;
    max-width: 80vw;
    min-width: 50vw;
    overflow-x: hidden;
    
    .listingsGrid {
        padding-left: 2.6vw;
        padding-right: 2.6vw;

        z-index: -1;
        overflow-x: hidden;
        
        position: relative;
        display: grid;

        grid-template-columns: repeat(4, 1fr); /* Force 4 items per row */
        gap: 15px;
        max-width: 100%;
        align-items: center; /* Vertically center the items */

        overflow-y: scroll;
        justify-items: center; /* Horizontally center the items */
    }
}