.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    height: 90%;
    width: 20vw;
    /* z-index: 1;
    top: 0;
    left: 0; */
    background-color: #E7F6F1;
    /* overflow-y: hidden; */
    padding-top: 10vh;

  
}

.sidebar.top {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    max-width: 100%;
    justify-content: space-evenly;

}

.sidebar.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    max-width: 100%;
    padding-top: 0;
    justify-content: space-evenly;

}

.sidebar > h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    font-family: "niveau-grotesk", sans-serif;
    color: #0D1321;
    margin-top: 20px;
}

.sidebar > button {
    width: 65%;
    padding: 0 10px;
    flex-shrink: 0;
    background-color: #E7F6F1;
    color: #0D1321;
    text-align: center;
    font-size: 9pt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    font-family: "niveau-grotesk", sans-serif;
    border-radius: 30px;
    padding: 15px 40px;
    color: var(--dark);
    border: 5px solid #128AB1;
    transition: background-color 0.3s ease-in-out;
}
